[account_budget]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-account_budget
path = ./trytond/trytond/modules
[account_invoice_conformity]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-account_invoice_conformity
path = ./trytond/trytond/modules
[account_invoice_information_uom]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-account_invoice_information_uom
path = ./trytond/trytond/modules
[account_invoice_sale_relation]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-account_invoice_sale_relation
path = ./trytond/trytond/modules
[account_invoice_prevent_supplier_cancel]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-account_invoice_prevent_supplier_cancel
path = ./trytond/trytond/modules
[account_invoice_shop]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-account_invoice_shop
path = ./trytond/trytond/modules
[account_payment_type_cost]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-account_payment_type_cost
path = ./trytond/trytond/modules
[activity]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-activity
path = ./trytond/trytond/modules
[activity_calendar]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-activity_calendar
path = ./trytond/trytond/modules
[analytic_stock]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-analytic_stock
path = ./trytond/trytond/modules
[analytic_asset]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-analytic_asset
path = ./trytond/trytond/modules
[babi]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-babi
path = ./trytond/trytond/modules
[babi_reports_product]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-babi_reports_product
path = ./trytond/trytond/modules
[babi_reports_stock]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-babi_reports_stock
path = ./trytond/trytond/modules
[babi_reports_account]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-babi_reports_account
path = ./trytond/trytond/modules
[babi_reports_account_invoice]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-babi_reports_account_invoice
path = ./trytond/trytond/modules
[babi_reports_analytic_account]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-babi_reports_analytic_account
path = ./trytond/trytond/modules
[babi_reports_sale_opportunity]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-babi_reports_sale_opportunity
path = ./trytond/trytond/modules
[carrier_file]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-carrier_file
path = ./trytond/trytond/modules
[farm]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-farm
path = ./trytond/trytond/modules
[farm_feed_production]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-farm_feed_production
path = ./trytond/trytond/modules
[farm_nutrition_program]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-farm_nutrition_program
path = ./trytond/trytond/modules
[farm_nutrition_program_supply_request]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-farm_nutrition_program_supply_request
path = ./trytond/trytond/modules
[farm_prescription]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-farm_prescription
path = ./trytond/trytond/modules
[file_format]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-file_format
path = ./trytond/trytond/modules
[frepple]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-frepple
path = ./trytond/trytond/modules
[product_configuration]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-product_configuration
path = ./trytond/trytond/modules
[product_cost_plan]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-product_cost_plan
path = ./trytond/trytond/modules
[product_cost_plan_operation]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-product_cost_plan_operation
path = ./trytond/trytond/modules
[product_cost_plan_margin]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-product_cost_plan_margin
path = ./trytond/trytond/modules
[product_images]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-product_images
path = ./trytond/trytond/modules
[production_bom_versions]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-production_bom_versions
path = ./trytond/trytond/modules
[product_purchase_history]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-product_purchase_history
path = ./trytond/trytond/modules
[product_variant_unique]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-product_variant_unique
path = ./trytond/trytond/modules
[production_quality_control_lot]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-production_quality_control_lot
path = ./trytond/trytond/modules
[production_efficiency_percentage]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-production_efficiency_percentage
path = ./trytond/trytond/modules
[production_operation]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-production_operation
path = ./trytond/trytond/modules
[production_operation_tracking]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-production_operation_tracking
path = ./trytond/trytond/modules
[production_origin]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-production_origin
path = ./trytond/trytond/modules
[production_route]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-production_route
path = ./trytond/trytond/modules
[production_supply_request]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-production_supply_request
path = ./trytond/trytond/modules
[project_template]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-project_template
path = ./trytond/trytond/modules
[project_activity]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-project_activity
path = ./trytond/trytond/modules
[project_auto_timesheet]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-project_auto_timesheet
path = ./trytond/trytond/modules
[project_invoice_hours]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-project_invoice_hours
path = ./trytond/trytond/modules
[project_task_invoice]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-project_task_invoice
path = ./trytond/trytond/modules
[project_phase]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-project_phase
path = ./trytond/trytond/modules
[purchase_contract]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-purchase_contract
path = ./trytond/trytond/modules
[purchase_information_uom]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-purchase_information_uom
path = ./trytond/trytond/modules
[purchase_lot_expiry]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-purchase_lot_expiry
path = ./trytond/trytond/modules
[purchase_report_single]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-purchase_report_single
path = ./trytond/trytond/modules
[purchase_stock_account_move]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-purchase_stock_account_move
path = ./trytond/trytond/modules
[quality_control]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-quality_control
path = ./trytond/trytond/modules
[quality_control_formula]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-quality_control_formula
path = ./trytond/trytond/modules
[quality_control_lot]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-quality_control_lot
path = ./trytond/trytond/modules
[quality_control_sample]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-quality_control_sample
path = ./trytond/trytond/modules
[party_relationship]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-party_relationship
path = ./trytond/trytond/modules
[production_lot_cost]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-production_lot_cost
path = ./trytond/trytond/modules
[production_planning]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-production_planning
path = ./trytond/trytond/modules
[purchase_lot_cost]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-purchase_lot_cost
path = ./trytond/trytond/modules
[sale_cost_plan]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_cost_plan
path = ./trytond/trytond/modules
[sale_issue]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_issue
path = ./trytond/trytond/modules
[sale_pos_esc]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_pos_esc
path = ./trytond/trytond/modules
#[sale_pos_template_quantities]
#repo=hg
#url=ssh://hg@bitbucket.org/nantic/trytond-sale_pos_template_quantities
#path = ./trytond/trytond/modules
[sale_stock_account_move]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_stock_account_move
path = ./trytond/trytond/modules
[sale_customer_product]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_customer_product
path = ./trytond/trytond/modules
[sale_customer_product_restrict]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_customer_product_restrict
path = ./trytond/trytond/modules
[sale_fedicom]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_fedicom
path = ./trytond/trytond/modules
[sale_invoice_complete]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_invoice_complete
path = ./trytond/trytond/modules
[sale_invoice_complete_line_grouping]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_invoice_complete_line_grouping
path = ./trytond/trytond/modules
[sale_line_address]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_line_address
path = ./trytond/trytond/modules
[sale_opportunity_activity]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_opportunity_activity
path = ./trytond/trytond/modules
[sale_opportunity_next_action]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_opportunity_next_action
path = ./trytond/trytond/modules
[sale_opportunity]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_opportunity
path = ./trytond/trytond/modules
[sale_opportunity_campaign]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_opportunity_campaign
path = ./trytond/trytond/modules
[sale_project_template]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_project_template
path = ./trytond/trytond/modules
[sale_shop_trade_info]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-sale_shop_trade_info
path = ./trytond/trytond/modules
[stock_location_warehouse]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_location_warehouse
path = ./trytond/trytond/modules
[stock_lot_cost]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_lot_cost
path = ./trytond/trytond/modules
[stock_lot_expiry]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_lot_expiry
path = ./trytond/trytond/modules
[stock_lot_supplier_ref]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_lot_supplier_ref
path = ./trytond/trytond/modules
[stock_lot_sequence]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_lot_sequence
path = ./trytond/trytond/modules
[stock_package]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_package
path = ./trytond/trytond/modules
[stock_report_single]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_report_single
path = ./trytond/trytond/modules
[stock_reservation]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_reservation
path = ./trytond/trytond/modules
[stock_supply_request]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_supply_request
path = ./trytond/trytond/modules
[stock_scanner]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_scanner
path = ./trytond/trytond/modules
[stock_scanner_lot]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_scanner_lot
path = ./trytond/trytond/modules
[stock_scanner_serial_number]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_scanner_serial_number
path = ./trytond/trytond/modules
[stock_serial_number]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_serial_number
path = ./trytond/trytond/modules
[stock_serial_number_file_import]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_serial_number_file_import
path = ./trytond/trytond/modules
[stock_shipment_edit_inline]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_shipment_edit_inline
path = ./trytond/trytond/modules
[stock_split_lot_expiry]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_split_lot_expiry
path = ./trytond/trytond/modules
[stock_valued]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-stock_valued
path = ./trytond/trytond/modules
[task_tracker]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-task_tracker
path = ./trytond/trytond/modules
[timetracker]
repo=hg
url=ssh://hg@bitbucket.org/nantic/trytond-timetracker
path = ./trytond/trytond/modules
