[loggers]
keys = root

[handlers]
keys = trfhand

[formatters]
keys = generic

[logger_root]
level = NOTSET
handlers = trfhand

[handler_trfhand]
class = handlers.TimedRotatingFileHandler
formatter = generic
level = NOTSET
# path, when, interval, backupcount, encoding 
args = ('/home/administrator/tryton/server.log', 'd', 1, 7, 'utf-8')

[handler_rfhand]
class = handlers.RotatingFileHandler
formatter = generic
level = NOTSET
# path, mode, maxbytes, backupcount, encoding 
args = ('/home/administrator/tryton/logconf.log', 'w', 50000, 7, 'utf-8')

[formatter_generic]
class = logging.Formatter
format = %(process)d - [%(asctime)s] %(levelname)s:%(name)s:%(message)s
datefmt = %a %b %d %H:%M:%S %Y
